@media only screen and (max-width: 1159px) {
  .mb-m-40 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 769px) {
  html {
    font-size: 48%;
  }
  body {
    overflow-x: hidden;
  }
  .c-section .c-row > .inner {
    flex-direction: column-reverse;
  }
  .c-section .c-row .c-column {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hero-section .main-headline {
    font-size: 4.4rem;
    line-height: 38px;
  }
  .hero-section .c-row::after {
    content: "DEVELOPER";
    font-size: 4rem;
    font-weight: 900;
    transform: rotate(-90deg);
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red-color);
    display: block;
    position: absolute;
    top: 200px;
    left: -60px;
    z-index: 0;
    opacity: 1;
    letter-spacing: 3px;
    opacity: 0.5;
  }
  .experience-section .exp-card {
    border-left: none;
  }
}
@media only screen and (max-width: 512px) {
  html {
    font-size: 43%;
  }
  .experience-section .section-headline {
    font-size: 5.2rem;
  }
}
