/* CSS INDEX
=> 00. VARIABLES
=> 01. COMMON CSS
=> 02. REUSABLE CSS
=> 03. HERO SECTION

*/
/* ==00.VARIABLES== */
:root {
  --main-bg-color: #000018;
  --white-color: #fff;
  --light-yellow-color: #fefe72;
  --red-color: #b11b1b;
}
/* ==01.COMMON CSS== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--white-color);
}
/* ==02.REUSABLE CSS== */
.c-section > .inner {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
}
.c-row > .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-row,
.c-column {
  width: 100%;
}
img {
  width: 100%;
}
.btn {
  padding: 8px 64px;
  border: none;
  transition: all 0.4s ease;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
}
.hero-btn {
  background-color: var(--red-color);
  color: var(--white-color);
}
.btn:hover {
  opacity: 0.8;
}
/* ==03.HERO SECTION== */
.hero-section {
  position: relative;
}
.hero-section > .inner {
  z-index: 1;
}
.hero-section::after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--light-yellow-color);
  display: block;
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 0;
}
.hero-section .c-row > .inner {
  z-index: 1;
}
.hero-section .main-headline {
  font-size: 64px;
}
.hero-section .c-row::after {
  content: "DEVELOPER";
  font-size: 80px;
  font-weight: 900;
  transform: rotate(-90deg);

  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--red-color);
  display: block;
  position: absolute;
  top: 450px;
  left: -190px;
  z-index: 0;
  opacity: 1;
  letter-spacing: 3px;
}
.hero-section .headline-highlighter {
  color: var(--light-yellow-color);
}
.hero-section .hero-img {
  max-width: 580px;
}
.hero-section .sub-headline {
  color: var(--red-color);
  font-size: 24px;
  text-transform: uppercase;
}
.hero-section .plain-text {
  font-size: 18px;
}
